name: Todo CLI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Get code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t todo-cli .

    - name: Run Docker container
      docker run  --rm todo-cli
